.mycart__main-container{
    padding: 0rem 20rem;
    background-color: var(--primary-backgroud-color);
    min-height: 100vh;
}

.mycart__main-heading{
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.mycart__product{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}