.header{
    padding: 1rem 4rem;
}

.header__nav-right{
    margin-left: 0px;
}

.header__nav-left{
    cursor: pointer;
}

.category__section{
    display: flex;
}

.category__section > .nav__link-style > p{
    font-size: 1.5rem;
    padding: .8rem 2rem;
    cursor: pointer;
    border-radius: 4px;
    color: var(--font-color);
}

.category__section > .nav__link-style > p:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}